/*      test.css
 */


.Box {
  position: absolute;

  border: solid 2px var(--MediumColor);
  border-radius: 0.25rem;
  cursor: move;
  width: max-content;
}
.Box img {
  vertical-align: bottom;
}

.Dragging {
  outline: solid 4px var(--SkyBlue);
}




/*  */
